/* font */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&family=Otomanopee+One&family=Press+Start+2P&family=Yomogi&display=swap');

/******* General Classes *******/
body{
    background-color: #F78B52;
    font-family: 'Otomanopee One', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #892E3D;
}

/******* Main Page Header*******/
.main-page-overhead{
    display: flex;
    justify-content: center;
    width: 100%;
    color:#FFBA49;
}
.link-github{
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    color:#FFBA49;
}
/******* Main Page Footer*******/
footer {
    width: 100%;
    height: 5rem;
    /* position: absolute; */
    margin-top: auto;
    /* bottom: 0; */
    background-color: #56172E;
}
.footer-contents{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFBA49;
}
/******* Main Menu*******/
.game-entry-window{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 40%;
    border-radius: 1rem;
    padding: .5rem;
    border: .25rem solid #401122;
    background-color: #892E3D;
    color:#fff;
    margin-bottom: 2rem;;
}
.instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #993344;
    border: 1px solid #B83D52;
    margin-bottom: 1rem;
}
.instructions p{
    margin: 0;
}
.how-to-play{
    width: 80%;
    border: .25rem solid #401122;
    margin-bottom: 1rem;
}
.main-menu h2 {
    text-align: center;
    color:#FFBA49;
}
.btn-main-menu{
    color:black;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    border-radius: .5rem;
    -webkit-transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
}
.btn-main-menu:hover,
.btn-main-menu:focus {
    color:black;
    background-color: #FFBA49;
    text-decoration: none;
}
/******* Game Console Container*******/
.main-game-console {
    position: relative;
    display: flex;
    margin-top: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1rem;
    padding: .5rem;
    border: .25rem solid #401122;
    background-color: #892E3D;
    color:#fff;
}
/******* Game Grid *******/
#game-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-grass-blurred.png');
    border-radius: .25rem;
}
.grid-row {
    display: flex;
}
.grid-cell {
    display: inline-block;
    height: 50px;
    width: 50px;
}
/******* Game Assets *******/
.obstacle {
    border-radius: 5px; 
    background-image: url('../images/crate.png');
}
.mouse {
    background-color:#3baff7;
    background-image: url('../images/mouse-right.gif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: .25rem;
}
.cat {
    background-color: #f73b3b;
    background-image: url('../images/cat-right.gif');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .25rem;
}
.cheese {
    background-color:#D4A001;
    background-image: url('../images/cheese.gif');
    border-radius: .25rem;
}
/******* Side Game Console *******/
.side-game-console{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: .25rem;
    background-color: #993344;
    border: 1px solid #B83D52;
}
/* Upper corner buttons */
.game-console-nav-buttons{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    width:100%;
}
.btn-nav{
    color:black;
    text-decoration: none;
    height: 2rem;
    text-align: center;
    margin-left: .25rem;
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    border-radius: .5rem;
    -webkit-transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
}
a.btn-nav {
    width: 2rem;
}
.btn-nav:hover,
.btn-nav:focus {
    color:black;
    text-decoration: none;
    background-color: #FFBA49;
}


/* Level setup buttons */
.game-console-game-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.game-console-setup{
    border-radius: .5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.game-console-setup h2{
    font-size: 1.5rem;
}
.btn-difficulty-level{
    font-size: 1rem;
    text-decoration: none;
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    border-radius: .5rem;
    -webkit-transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
}
.btn-difficulty-level:hover,
.btn-difficulty-level:focus {
    background-color: #FFBA49;
}
.btn-difficulty-level.active{
    background-color: #FFD085;
}
/* Countdown timer and high score */
.game-console-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.score-digits,
.time-limit-digits{
    display: inline-block;
    width: 60%;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    color: black;
}

/* Game controller buttons */
.controller-button-container{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
}
.arrows-up{
    margin-bottom:.5rem;
    display:flex;
    justify-content: center;
}
.controller-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controller-center-circle{
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.arrows-left-right{
    display:flex;
    justify-content: center;
}
#arrow-left{
    margin-right: 1rem;
}
#arrow-right{
    margin-left: 1rem;
}
.arrows-down{
    margin-top:.5rem;
    display:flex;
    justify-content: center;
}
.controller-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F78B52;
    border: .125rem solid #A4A9AD;
    font-size: 2.5rem;
}
.controller-button-container:hover,
.controller-button-container:focus{
    background-color: #FFBA49;
}
.highlight{
    background-color: #FFBA49 !important;
}

/******* Game Ending Modals *******/
.modal-game {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: .25rem solid #401122;
    background-color: #892E3D;
    position: absolute;
    top: 32.5%;
    left: 37.5%;
    height: 15rem;
    width: 20rem;
    border-radius: .5rem;
    text-align: center;
}
.open-game-modal{
    display: flex;
}
.modal-game h2{
    color:#FFBA49;
    display: inline-block;
    width: 80%;
}
.details{
    display: inline-block;
    width: 60%;
    background-color: #993344;
    border: 1px solid #B83D52;
    font-size: .75rem;
}