
.body{
    font-size: 11px;
}

/******* Utility Classes *******/
.outline {
    /* border: 1px solid #e6f3f7; */
}
.highlight{
    background-color: yellow;
}
/******* Game Console *******/
.main-game-console {
margin-top: 2rem;
}
/******* Game Grid *******/
.grid-row {
    display: inline-block;
    margin-bottom: 0px;
}
.grid-cell {
    display: inline-block;
    height: 50px;
    width: 50px;
}
/******* Game Assets *******/
.obstacle {
    background-color: #4b4c4d; 
    border-radius: 5px; 
}
.empty {
    /* background-color: #d1d6de; */
}
.mouse {
    background-color:#3baff7;
    background-image: url('../images/mouse-right.gif');
    background-size: cover;
}
.cat {
    background-color: #f73b3b;
    background-image: url('../images/cat-right.gif');
    background-position: center;
    background-repeat: no-repeat;
}

.cheese {
    background-color:#ede911;
}

/******* User controller *******/
.arrows-up{
    display:flex;
    justify-content: center;
}
.arrows-left-right{
    display:flex;
    justify-content: space-around;
}
.arrows-down{
    display:flex;
    justify-content: center;
}
.controller-button-container{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.controller-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controller-center-circle{
    background-color: #4b4c4d;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
